.iysr-icon > svg { vertical-align: middle }
.iysr-icon > svg.iysr-icon-blue { fill: #0275d8; }
.iysr-icon > svg.iysr-icon-green { fill: #5cb85c; }
.iysr-icon > svg.iysr-icon-light-blue { fill: #5bc0de; }
.iysr-icon > svg.iysr-icon-orange { fill: #f0ad4e; }
.iysr-icon > svg.iysr-icon-red { fill: #d9534f; }
.iysr-icon > svg.iysr-icon-black { fill: #292b2c; }
.iysr-icon > svg.iysr-icon-white { fill: #f7f7f7; }
